# Ignore binaries and object files
*.o
*.obj
*.exe
*.so
*.pdb
*.class
*.log
*.ini
*.cgd
*.dip
*.dmp
settings.json

# Ignore build directories
.vs/
bin/
out/
Release/
Debug/
/src/.vs
/src/Front/obj
/src/Front/obj_1_1_1
/src/Main/obj
/src/Main/obj_1_1_1
/src/Cast/obj
/src/Cast/obj_1_1_1
/src/obj/
/crash_dumps/
/build/
/CMakeFiles
/deps/asio
/deps/boost_unordered
/deps/monocypher
/deps/rapidjson
/deps/thread-pool
/out-wsl-gcc
/scripts
/out-docker-clang/vcpkg/buildtrees
